.cert-provider {

}

.cert-provider__wrap-list {
  overflow: visible;

  @media (max-width: $md) {
    margin: 0 -15px;
    overflow: hidden;
  }
}

.cert-provider__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -19px;
  width: auto;
  padding-bottom: 30px;

  @media (max-width: $md) {
    flex-wrap: nowrap;
    margin: 0;
    padding-bottom: 40px;
    width: 100%;
  }
}

.cert-provider__item {
  width: 16.666667%;
  padding: 0 19px 20px;
  height: auto;

  .provider-card {
    height: 100%;
  }

  @media (max-width: $sl) {
    width: 25%;
  }

  @media (max-width: $lg) {
    width: 33.333333%;
  }

  @media (max-width: $md) {
  }

  @media (max-width: $sm) {
    width: 270px;
  }
}

.cert-provider__pagination {
  display: none;

  @media (max-width: $md) {
    display: block;
    bottom: 25px !important;
  }
}
